{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h3>List</h3>

    {% if status %}
        {% for row in data %}
        <table class="table">
            <thead>
            <tr>
                <th>Column</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for column in columns %}
                <tr>
                    <td>{{ column.column_name }}</td>
                    <td>
                        {% if row[column.column_name] is iterable %}
                            {% for index, value in row[column.column_name] %}
                                {{ index }}:
                                {% if value is iterable %}
                                    <table class="table table-bordered table-condensed">
                                        <tbody>
                                    {% for vKey, vValue in value %}
                                        <tr>
                                            <td>{{ vKey }}</td>
                                            <td>{{ vValue }}</td>
                                        </tr>
                                    {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                                <br />
                            {% endfor %}
                        {% else %}
                            {{ row[column.column_name] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        {% else %}
            <hr>
            <i>Nothing here.</i>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger" role="alert">Error: {{ message }}</div>
    {% endif %}

</div>
{% endblock %}