{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h3>Column Families</h3>

        {% if response.status %}
            <table class="table">
                <thead>
                <tr>
                    <th>Column family name</th>
                    <th>Type</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for columnFamily in response.columnFamilies %}
                    <tr>
                        <td>
                            <a href="{{ path('columns', { 'cluster': app.request.get('cluster'), 'keyspace': app.request.get('keyspace'), 'columnfamily': columnFamily.columnfamily_name }) }}">
                                {{ columnFamily.columnfamily_name }}
                            </a>
                        </td>
                        <td>{{ columnFamily.type }}</td>
                        <td>{{ columnFamily.comment }}</td>
                        <td align="right">
                            <div class="btn-group" role="group">
                                <a href="{{ path('list', { 'cluster': app.request.get('cluster'), 'keyspace': app.request.get('keyspace'), 'columnfamily': columnFamily.columnfamily_name }) }}" class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('columnfamily_remove', { 'cluster': app.request.get('cluster'), 'keyspace': app.request.get('keyspace'), 'columnfamily': columnFamily.columnfamily_name }) }}" class="btn btn-sm btn-danger removeModalProcess">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-success" href="#" role="button" data-toggle="modal" data-target="#addColumnFamilyModal">Add</a>

        {% else %}
            <div class="alert alert-danger" role="alert">Error: {{ response.message }}</div>
        {% endif %}
    </div>

    <div class="modal fade" id="addColumnFamilyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add ColumnFamily</h4>
                </div>
                <div class="modal-body">
                    <div class="status"></div>
                    <form>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a></li>
                            <li role="presentation"><a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Fields</a></li>
                            <li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Advanced</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="basic">
                                <div class="row">
                                    {% for col in ['left', 'center', 'right'] %}
                                    <div class="col-md-4">
                                        {% for ColumnFamilyKey in ColumnFamily.ColumnFamilyGrouping[col] %}
                                            {% set field = ColumnFamily.ColumnFamily[ColumnFamilyKey] %}
                                            {% include 'AppBundle:columnFamilies:field.html.twig' with { 'name': ColumnFamilyKey, 'field': field } %}
                                        {% endfor %}

                                        {% if col == 'left' and loop.index < (ColumnFamily.ColumnFamilyGrouping[col]|length) %}
                                            <div class="form-group">
                                                <label for="clustering_order">Clustering order</label>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <select name="clustering_order" id="clustering_order" class="form-control">
                                                            <option value="" data-keep> - </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <select name="clustering_order_direction" class="form-control">
                                                            <option value="asc">ASC</option>
                                                            <option value="desc">DESC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="fields">
                                <table class="table" id="columnFamilyFieldTable">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th><i class="fa fa-key"></i></th>
                                        <th><i class="fa fa-hand-o-down"></i></th>
                                        <th><i class="fa fa-circle-o"></i></th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                                <a class="btn btn-success addColumnFamilyField" href="#" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="advanced">
                                <h4>Compression</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% for OptionName, OptionField in ColumnFamilyCompressionSubOptions.Compression %}
                                            {% include 'AppBundle:columnFamilies:field.html.twig' with { 'name': OptionName, 'field': OptionField } %}
                                            {% if loop.index0 % 2 == 0 %}
                                                </div><div class="col-md-6">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <hr />

                                <h4>Compaction</h4>
                                {% for ColumnFamilyCompactionType in ColumnFamily.ColumnFamily.compaction.values %}
                                <div class="row ColumnFamilyCompaction
                                {{ ColumnFamilyCompactionType != ColumnFamily.ColumnFamily.compaction.default ? 'hide' }}"
                                     data-type="{{ ColumnFamilyCompactionType }}">
                                    <div class="col-md-4">
                                        {% set elemPerCol = (ColumnFamilyCompactionSubOptions[ColumnFamilyCompactionType]|length / 3)|round(0, 'ceil') %}
                                        {% for OptionName, OptionField in ColumnFamilyCompactionSubOptions[ColumnFamilyCompactionType] %}
                                            {% include 'AppBundle:columnFamilies:field.html.twig' with { 'name': OptionName, 'field': OptionField } %}
                                            {% if loop.index % elemPerCol == 0 %}
                                                </div><div class="col-md-4">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                        <input type="hidden" name="cluster" value="{{ app.request.get('cluster') }}">
                        <input type="hidden" name="keyspace" value="{{ app.request.get('keyspace') }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success processQueryModalButton" data-target="{{ path('columnFamily_add') }}">Add ColumnFamily</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% include 'AppBundle:columnFamilies:_dummyFieldRow.html.twig' with { 'ColumnFamilyDataTypes': ColumnFamily.ColumnFamilyDataTypes } %}

{% endblock %}